<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PO</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">PO</div>
        <div class="panel-body">
<!--            <p  th:text="${po.status}"> </p>-->
            <tr th:each="po : ${po}">
                <td><span th:text="${po}"> Title </span></td>

            </tr>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>